@if (loading()) {
  <app-loader />
} @else if (photo()) {
  <div class="detail-wrap">
    <div class="top-bar">
      <button mat-button (click)="goBack()">← Back</button>
    </div>
    <img class="full-photo" [src]="photo()!.url" [alt]="'Photo by ' + photo()!.author" />
    <div class="actions">
      <p class="author">{{ photo()!.author }}</p>
      @if (isFavorite()) {
        <button mat-raised-button color="warn" (click)="removeFromFavorites()">
          Remove from favorites
        </button>
      } @else {
        <button mat-raised-button color="primary" (click)="addToFavorites()">
          Add to favorites
        </button>
      }
    </div>
  </div>
} @else {
  <p class="not-found">Photo not found.</p>
}
